{% extends 'transformapp/base.html' %}
{% load static %}
{% block content %}
<section class="main">
            <div class="main container">
                <div class="main__content">
                    <h2 class="main-title">Онлайн конвертер изображения</h2>
                    <p class="main-subtitle">Сконвертируйте в онлайне свои изображения</p>
                    <div class="main__content-about_us">
                        <div class="about_us-item">
                            <i class="icon-exchange"></i>
                            <h3 class="about_us-item_title">Быстрое преобразование</h3>
                            <p class="about_us-item_text">Convertio — это облачное решение, а значит, все преобразования файлов выполняются на наших серверах и не замедляют работу вашей операционной системы.</p>
                        </div>
                        <div class="about_us-item">
                            <i class="icon-signal"></i>
                            <h3 class="about_us-item_title">Работает онлайн</h3>
                            <p class="about_us-item_text">Вам не нужно загружать или устанавливать какую-либо программу на ваше устройство, потому что конвертер изображений работает полностью онлайн.</p>
                        </div>
                        <div class="about_us-item">
                            <i class="icon-picture"></i>
                            <h3 class="about_us-item_title">Поддерживает любой формат</h3>
                            <p class="about_us-item_text">Инструмент работает с любыми современными форматами изображений, такими как: JPEG, PNG, TIFF, BMP и так далее. В целом поддерживается преобразование 11331 форматов изображений.</p>
                        </div>
                        <div class="about_us-item">
                            <i class="icon-heart"></i>
                            <h3 class="about_us-item_title">Дружественный интерфейс</h3>
                            <p class="about_us-item_text">Интерфейс разработан таким образом, чтобы быть интуитивно понятным любому пользователю, и позволять сконвертировать необходимый файл всего одним кликом мыши.</p>
                        </div>
                        <div class="about_us-item">
                            <i class="icon-cog"></i>
                            <h3 class="about_us-item_title">Как конвертировать</h3>
                            <p class="about_us-item_text">Перетащите фотографию или изображение на страницу, нажмите кнопку «Конвертировать», немного подождите и, когда все будет готово, загрузите результат. Так просто!</p>
                        </div>
                        <div class="about_us-item">
                            <i class="icon-lock"></i>
                            <h3 class="about_us-item_title">Безопасный конвертер</h3>
                            <p class="about_us-item_text">Мы не храним ваши файлы дольше 24 часов, по истечению этого времени мы навсегда удаляем их с наших серверов. Вы можете быть уверены, что никто не имеет к ним доступа всё это время. Узнать больше о безопасности.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock content %}